

/*
Project 3: myOptions
By Joel Zyla
MUI
*/

#calltoaction {
	background-color: #333333 !important;
	margin-bottom: 25px;
}
ui-body-c, .ui-overlay-c {
    background: none repeat scroll 0 0 #CCCCCC !important;
    }

